page-home{
	ion-content{
		background: #1a1a1a !important;
	}
}
ion-content{
	position: absolute;
}
ion-item{
	position: relative;
}
ion-card{
	text-align: center;	
	padding: 20px;
	position: relative;
}
p{
	text-align: center;
}