<ion-header>
  <ion-navbar>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="contenido" padding>
  <ion-card>
    <ion-title>Markov Predict</ion-title>
    <p>Aplicacion desarrollada para el analisis de la situacion economica de Mexico o cualquier otro pais.</p>
  </ion-card>
  <ion-card id="form1">
    <ion-title>¡Bienvenido!</ion-title>
    <p>Introduce la cantidad de años que tomaras en cuenta para el analisis.</p>
    <form (ngSubmit)="generarEntradas(years)">
      <ion-item>
        <ion-label>Numero de años</ion-label>
        <ion-input type="number" value="" [(ngModel)]="years" name="years"></ion-input>
      </ion-item>
      <button ion-button color="primary" id="btn1" type="submit" block>Listo</button>
    </form>
  </ion-card>
  <ng-container *ngIf="years > 0">
    <ion-card id="form2">
      <ion-list>
        <form (ngSubmit)="datos(pibs)">
          <ion-item *ngFor="let year of yrs">
            <ion-label>PIB Año {{year+1}}:</ion-label>
            <ion-input type="number" value="" [(ngModel)]="pibs[year]" name="pibs"></ion-input>
          </ion-item>
          <button ion-button color="secondary" type="submit" block>Listo</button>
        </form>
      </ion-list>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="response != undefined">
    <ion-card>
      <ion-label>Resultados</ion-label>
      <ion-label>C -> Crecimiento respecto al año anterior</ion-label>
      <ion-label>I -> Igualdad respecto al año anterior</ion-label>
      <ion-label>D -> Decrecimiento respecto al año anterior</ion-label>
      <ion-item *ngFor="let prediccion of response.predicciones; let indice = index">
        <p>Para el año numero {{indice+1}} se tiene como prediccion: {{prediccion}}</p>
      </ion-item>
      <ion-item>
        <img id="analysis" src="">
      </ion-item>
    </ion-card>
  </ng-container>
</ion-content>